body {
  min-height: 2000px;
}
.jumbotron {
  padding-top: 4.5rem;
  /*background-color: #acffdf;*/
}
#about {
  background-color: #00d39e;
}
#contact {
  background-color: #00d39e;
}
#navbar {
  /*background: rgba(0, 211, 158, 0.75);*/
  background-color: #00d39e;
}
